        body {
            margin: 0;
            height: 100vh; 
            display: flex;
            flex-direction: column;
            align-items: center;
}
.div1{
            width: 100%; 
            height: 75px; 
            background-color: lightblue; 
            display: flex;
            justify-content: center; 
            align-items: center; 
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.c1 {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100px;
    height: 50px;
    background-color: lightblue;
    margin: 10px;
}

.c2 {
    margin-top: 10px; 
    width: 100px;
    height: 50px;
    background-color: lightblue;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.c3 {
    position: absolute; 
    top: 10000; 
    right: 0; 
    width: 100px;
    height: 50opx;
    background-color: lightblue;
    margin: 10px;
}
.kristall {
    
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
}
.dropdown:hover 

.dropdown-content { 
    display: block;
}
.b1b{
    width: 120px;
    height: 120px;
}
.coolduck1{
    width: 150px;
    height: 150px;

}
.popcherry1{
     width: 150px;
    height: 150px;
}
